<form action="/payment/results">

  <label for="rate">APR</input>
  <input id="rate" name="user_apr" placeholder="E.g. 5.42">
<div></div>
   <label for="number_yrs">Number of years</input>
  <input id="number_yrs" name="user_years" placeholder="How many years to repay?">
<div></div>
<label for="number_prin">Principal</input>
  <input id="number_prin" name="user_pv" placeholder="How much principal?">



<div><button>Calculate monthly payment</button></div>
