<form action="/random/results">
  <label for="random_min">Minimum</label>
  <input id="random_min" name="user_min" placeholder="E.g. 1.5"></input>
<div></div>
 <label for="random_max">Maximum</label>
  <input id="random_max" name="user_max" placeholder="E.g. 4.5"></input>

<div><button type="submit">Pick random number</button></div>
</form>
