<form "/random">
  <label for="random_min">Minimum</input>
  <input id="random_min" name="number_random_min" placeholder="E.g. 1.5">
<div></div>
 <label for="random_max">Maximum</input>
  <input id="random_max" name="number_random_max" placeholder="E.g. 4.5">

<div><button>Pick random number</button></div>
