<form action="/square_root/results">
  <label for="square_root">Enter a number</input>
  <input id="square_root" name="user_number" placeholder="What number do you want to take the square root of?">
<div><button>Calculate square root</button></div>

  
