<form "/square_root">
  <label for="square_root">Enter a number</input>
  <input id="square_root" name="number_sqrt" placeholder="What number do you want to take the square root of?">
<div><button>Calculate square root</button></div>

  
