<form action="/square/results">
  <label for="square">Enter a number</input>
  <div></div>
  <input id="square" name="number" placeholder="What number do you want to take the square of?">
<div><button>Calculate square</button></div>
